.first-father {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: purple;
    width: 100vw;
    height: 500px;
    border: 10px solid black;
}

.second-father {
    display: grid;
    grid-template-columns: 3fr;
    background-color: antiquewhite;
}