* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.contenedor {
    background-color: tan;
    border: 5px black solid;
}

.item {
    border: 2px solid grey;
    font-size: 4rem;
}
.item {
    border: 2px solid grey;
    font-size: 4rem;
}
.item {
    border: 2px solid grey;
    font-size: 4rem;
}
.item {
    border: 2px solid grey;
    font-size: 4rem;
}
.item {
    border: 2px solid grey;
    font-size: 4rem;
}
.item {
    border: 2px solid grey;
    font-size: 4rem;
}
.item {
    border: 2px solid grey;
    font-size: 4rem;
}
.item {
    border: 2px solid grey;
    font-size: 4rem;
}