.contenedor {
    background-color: pink;
    border: 2px solid #000;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px;
    grid-auto-flow: column;
    gap: 20px;
}

.item {
    border: 3px solid aqua;
    font-size: 4rem;
}