.contenedor {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-columns: 30px 200px 60px;
    grid-template-rows: 100px 100px 100px;
}

.item {
    border: 5px solid #00bcd4;
    font-size: 2rem;
}