.contenedor {
    background-color: #fff;
    border: 5px solid #e1bee7;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 75px 75px 75px;
    grid-template-areas: 
        header header header /*Las tres celdas superiores de nuestra área van a llamarse header y usarán las celdas de arriba */
        side main main 
        side main main;
    place-content: center;
}
.item {
    font-size: 4rem;
}
/* !Metodología clásica para colocar elementos usando grid area y grid column end o start. */
/* .item-1 {
    border: 5px solid #f8bbd0;
    background-color: #ffeeff;
    grid-column-start: 1;
    grid-column-end: 4;
}
.item-2 {
    border: 5px solid #e1bee7;
    background-color: #fff1ffff;
    grid-row: 2 / 4;
}
.item-3 {
    border: 5px solid #b2ebf2;
    background-color: #e5ffff;
    grid-area: 2 / 2 / 4 / 4;
} */

/* !Método más eficiente */

.item-1 {
    border: 5px solid #f8bbd0;
    background-color: #ffeeff;

}
.item-2 {
    border: 5px solid #e1bee7;
    background-color: #fff1ffff;
}
.item-3 {
    border: 5px solid #b2ebf2;
    background-color: #e5ffff;
}