.contenedor {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-columns: 1fr 3fr max-content 2fr ;
}

.item {
    border: 5px solid #00bcd4;
    font-size: 2rem;
}