.contenedor {
    border: 3px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-columns: 100px 200px 300px;
    grid-template-rows: 150px 250px;
}

.item {
    border: 2px solid #00bcd4;
    font-size: 3rem;
}