* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.contenedor {
    background-color: tan;
    border: 5px #000000 solid;
    height: 700px;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    place-content: center;
}

.item {
    background-color: rgb(218, 197, 144);
    border: 2px solid grey;
    font-size: 4rem;
}

/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */