header {
    display: grid;
    grid-template-columns: minmax(130px, 150px) 1fr;
    align-content: center;
    border: 3px solid #000;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(52, 15, 52);
}

header a img {
    width: 130px;
    margin: 16px;
    border-radius: 50%;
    border: 3px solid brown;
}

header a {
    display: block;
    margin: 16px;
    text-align: end;
}
