body {
    min-height: 100vh;
    display: grid;
}

.container {
    /* Position and Box Model */
    display: grid;
    gap: 12px;
    /* Visual Details */
    border-radius: 2%;
    border: 2px solid #000000;
    box-shadow: 5px 10px;
    overflow: hidden;
}

a {
    cursor: pointer;
}

.header {
    /* Position and Box Model */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Visual Details */
    min-height: 30%;
    height: 35%;
    background-color: #aa9999;
    border-radius: inherit;
    padding: 16px;
}

h1 {
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
}

a {
    display: inline-block;
    vertical-align: middle;
}

.header a > img {
    width: 25%;
    border-radius: 50%;
}

.image-container {
    margin-left: 16px;
}

.button-container {
    display: inline-block ;
    text-align: end;
    margin: 16px;
    position: relative;
    top: 15%;
}

.header a > button {
    cursor: pointer;
    width: 120px;
    height: 50px;
    border-radius: 10%;
} 