.contenedor {
    border: 3px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: auto;
    gap: 50px;
    place-content: center;
}

.item {
    border: 2px solid #00bcd4;
    font-size: 3rem;
    width: 250px;
    height: 250px;
    margin: 10px;
}