.contenedor {
    border: 3px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-rows: 100px 200px;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    gap: 40px;
}

.item {
    border: 2px solid #00bcd4;
    font-size: 3rem;
    width: 250px;
    height: 250px;
}