.contenedor {
    border: 3px solid #e1bee7;
    background-color: #fff1ff;
    display: grid; 
    gap: 10px; 
    align-content: center; 
    height: 800px; 
    grid-template-columns: minmax(50px, 100px) minmax(100px, auto); 
    grid-auto-rows: 50px;
}

.item {
    border: 2px solid #00bcd4;
    font-size: 3rem;
}