* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.header-container {
    display: grid;
    /* Para que la sección de la derecha tenga un poquito más de espacio */
    /* No es necesario que sea justamente 1fr y 2fr, también la proporción pueden ser numeros mayores */
    grid-template-columns: 2fr 3fr;
    /* Para que todos los rows que vayan saliendo sean de 350px máximo */
    grid-auto-rows: 350px;
    /* Para que el contenedor crezca por rows (esto tiene un set inicial de row de por sí, es redundancia) */
    grid-auto-flow: row;
    gap: 16px;
    padding: 16px;
    place-items: center;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
    border-radius: 10px;
}   

@media (max-width: 768px) {
    .header-container {
        grid-template-columns: 1fr;
        place-items: center;
    }
}

.aside-container {
    display: grid;
    gap: 16px;
    margin: 16px;
    place-self: center;
    text-align: center;
}

.aside-container__button {
    width: 140px;
    max-width: 140px;
    height: 30px;
    max-height: 30px;
    place-self: center;
    border-radius: 50px;
}


.header__img {
    /* Object fit para que ocupe solamente el valor que el contenido le dé */
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 420px;
    border-radius: 50px;
}

/* Main dishes container */

.main-container {
    display: grid;
    margin: 80px 0;
    padding: 20px;
    place-content: center;
    place-items: center;
    gap: 16px;
    border-bottom: 2px solid grey;
}

.main-container-section__grid-description {
    text-align: center;
}
.main-container-section__grid-description h2 {
    font-size: 25px;
    font-weight: bolder;
}

.main-container-section__grid-dishes {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, auto));
    max-width: 70%;
    gap: 12px;
}

.big-dish {
    grid-area: 1 / 1 / 3 / 3 ;
    object-fit: cover;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
}

.dish {
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-shadow: 3.0px 6.1px 6.1px hsl(0deg 0% 0% / 0.41);
}