* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto' , sans-serif;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero-image {
    width: 100%;
    object-fit: contain;
}